<template>
  <section id="about-me">
    <div class="py-12" />

    <v-container class="text-center">
      <h2 class="display-2 font-weight-bold mb-3">ABOUT ME</h2>

      <v-responsive class="mx-auto mb-8" width="56">
        <v-divider class="mb-1" />
        <v-divider />
      </v-responsive>

      <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
        Passionately developing for both performance and user experience. Trying to keep up to date with all things web and Android development to provide personalized experiences.
      </v-responsive>

      <v-avatar class="elevation-12 mb-12" size="128">
        <v-img src="@/assets/headshot2.webp" />
      </v-avatar>
      <br />
      <v-btn color="grey" href="https://www.linkedin.com/in/joristdh/" self outlined large>
        <span class="text--darken-1 font-weight-bold">Connect with me</span>
        <v-icon right>{{ mdiLinkedin }}</v-icon>
      </v-btn>
    </v-container>
    <div class="py-12" />
  </section>
</template>

<script>
  import { mdiLinkedin } from "@mdi/js";

  export default {
    data: () => ({
      mdiLinkedin
    })
  }
</script>
