<template>
  <section id="hero">
    <v-img min-height="100vh" src="@/assets/hero.webp">
      <v-theme-provider dark>
        <v-container fill-height>
          <div class="top-btn">
            <v-btn icon @click="toggleTheme" title="Toggle site theme">
              <v-icon style="font-size: 22px">{{ btnType }}</v-icon>
            </v-btn>
            <v-btn icon href="https://gitlab.com/Joristdh/my-site" title="View source code">
              <v-icon>{{ mdiGitlab }}</v-icon>
            </v-btn>
          </div>
          <v-row align="center" class="white--text mx-auto" justify="center">
            <v-col class="white--text text-center" cols="12" tag="h1">
              <div class="display-2 font-weight-light">Hi, I'm</div>
              <div class="display-4 font-weight-black">Joris</div>
            </v-col>
            <v-btn class="align-self-end" fab text @click="scroll" title="Scroll down">
              <v-icon>{{ mdiChevronDoubleDown }}</v-icon>
            </v-btn>
          </v-row>
        </v-container>
      </v-theme-provider>
    </v-img>
  </section>
</template>

<script>
  import { mdiChevronDoubleDown, mdiGitlab, mdiBrightness4, mdiBrightness5 } from "@mdi/js";

  export default {
    data: () => ({
      mdiChevronDoubleDown, mdiGitlab, mdiBrightness4, mdiBrightness5
    }),
    methods: {
      scroll() {
        this.$vuetify.goTo("#stats", { duration: 0 });
      },
      toggleTheme() {
        localStorage.setItem("dark", (this.$vuetify.theme.dark = !this.$vuetify.theme.dark));
      },
    },
    computed: {
      btnType: (vm) => vm.$vuetify.theme.dark ? mdiBrightness4 : mdiBrightness5,
    },
  };
</script>

<style lang="scss" scoped>
  .top-btn {
    position: absolute;
    top: 1em;
    right: 1.5em;
  }

  .v-image {
    transition: 1s filter ease-in-out;

    &.theme--light {
      filter: brightness(1.15);
    }

    &.theme--dark {
      filter: brightness(0.95);
    }
  }
</style>
