<template>
  <section id="stats">
    <v-theme-provider dark>
      <v-parallax :height="525" src="@/assets/parallax.webp">
        <div v-if="tooltip" class="tooltip">
          <v-alert type="info" dense>Click on a tile to read more</v-alert>
        </div>
        <v-container fill-height>
          <transition :name="fadeDirection" mode="out-in">
            <router-view :key="path" />
          </transition>
        </v-container>
      </v-parallax>
    </v-theme-provider>
  </section>
</template>

<script>
  export default {
    computed: {
      path: (vm) => vm.$route.path,
      overview: (vm) => vm.path === "/",
      fadeDirection: (vm) => `scroll-x-${vm.overview ? "" : "reverse-"}transition`,
      tooltip: (vm) => !localStorage.getItem("dismissTooltip") && vm.overview,
    },
    mounted() {
      if (!this.overview) this.$vuetify.goTo("#stats", { duration: 0 });
    },
  };
</script>

<style lang="scss" scoped>
  .container {
    &::v-deep a {
      color: white !important;
      text-decoration: none;

      &:hover {

        > :is(div, h1, h2),
        &:not(.v-btn) {
          opacity: 0.7;
        }
      }
    }

    &::v-deep p a {
      text-decoration: underline;
    }
  }

  .tooltip {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 1em;
    left: 0;

    .v-alert.info {
      background-color: rgba(black, 0.3) !important;
      border-radius: 3em;
    }
  }
</style>
