<template>
  <div>
    <a href="https://intro-atos.web.app">
      <h1>Intro App</h1>
    </a>
    <h2>Atos Young Tech Foundation</h2>
    <h4>02/2020 - 07/2020</h4>
    <div class="list">
      <p>
        Within my role as Web Developer, I was responsible for the frontend development of an
        introduction application for new Atos employees.
      </p>
      My tasks were:
      <ul>
        <li>Setting up a Vue.js application and its hosting</li>
        <li>Configuring a CI/CD pipeline that automatically:</li>
        <ul>
          <li>builds the application when code has changed</li>
          <li>deploys the application to the hosting</li>
        </ul>
        <li>Implementing a user friendly interface</li>
        <li>Programming a system to dynamically load data to display</li>
      </ul>
      <p>
        Result: A fast web application that displayed the most important subjects for a new employee
        in a clear overview. The application had a nice user interface and was easy to manage by the
        content manager.
      </p>
    </div>
  </div>
</template>
