<template>
  <div>
    <a
      href="https://www.tue.nl/en/education/bachelor-college/bachelor-computer-science-and-engineering/">
      <h1>Computer Science and Engineering</h1>
    </a>
    <h2>University of Technology Eindhoven</h2>
    <h4>09/2016 - 02/2020</h4>
    <div class="list">
      <p>
        I obtained a bachelors degree with my major in Web Science. This major focused on building
        complex internet-based applications and the human-technology interactions while working on
        the user experience.
      </p>
      <em>Elective courses:</em>
      <ul>
        <li>1st year: Fundamentals of Informatics; Sport Motivation and Performance</li>
        <li>2nd year: Design for Games and Play I, II & III</li>
        <li>
          3rd year: USE learning line, The Human in Technology; Computer Systems; Thinking and
          Deciding
        </li>
        <li>
          4th year: Data Acquisition and Visualization through Embodied Sensors; Social Psych. &
          Cons. Behavior
        </li>
      </ul>
      <p>
        For my Software Engineering Project (SEP), I worked with a scrum team consisting of eleven
        developers to build a smartwatch application for an existing interface that was, up until
        that point, only usable on large desktop screens.
        <br />
        You can read more about this (and other projects) under
        <router-link to="/practice/-1">Work Experience</router-link>.
      </p>
    </div>
  </div>
</template>
