<template>
  <div>
    <a href="https://www.ciz.nl/">
      <h1>Koppelpunt</h1>
    </a>
    <h2>Centrum Indicatiestelling Zorg</h2>
    <h4>07/2020 - 09/2022</h4>
    <div class="list">
      <p>
        The Koppelpunt project at CIZ connects authorized (government) organizations to the Portero
        application. This enables these organizations to request data from CIZ without needing
        manual involvement from CIZ's side. These request are handled by services tailored to each
        organization, allowing for an optimized and secure workflow.
      </p>
      <p>
        Within my role as Application Developer, I'm responsible for development of the front- &
        backend of this application, together with my team. This includes adding new features,
        building new services for a new party and daily maintenance.
      </p>
      <p>
        The front-end of the beheer application offers a management interface for the services and
        is written in Vue.js. The back-end is designed as microservices. These services are coded in
        Java 11 using Spring Boot and communicate with each other through REST calls and queues in a
        Microsoft SQL Server. Communication with external parties is done via FHIR, GraphQL, SOAP or
        REST.
      </p>
    </div>
  </div>
</template>
