<template>
  <div>
    <a
      href="https://www.tue.nl/en/education/graduate-school/master-computer-science-and-engineering/">
      <h1>Computer Science and Engineering</h1>
    </a>
    <h2>University of Technology Eindhoven</h2>
    <h4>09/2021 - 06/2024</h4>
    <div class="list">
      <p>
        Over the past decade the use of web-based systems has exploded. Buying clothes, books, and
        DVDs, booking hotels, checking the weather forecast, contacting your friends: all of this is
        done on the internet nowadays, and novel web-based applications are developed every day.
        <br />
        In my CSE master I focus on the technology behind these developments and during this I will
        combine a scientific perspective with the approach of an engineer.
      </p>

      After I graduate I'll:
      <ul>
        <li>have knowledge of the principles and technologies that drive the Web.</li>
        <li>
          have the skills to design effective web-based systems, and to analyze existing web-based
          systems and the data generated through their use.
        </li>
        <li>
          be able to design intelligent information services using semantic-web technology or
          machine-learning techniques.
        </li>
        <li>
          have insight into business, privacy and security issues related to web-based systems.
        </li>
      </ul>
    </div>
  </div>
</template>
