<template>
  <div>
    <a href="http://www.horse-project.eu/">
      <h1>Smartwatch Application</h1>
    </a>
    <h2>The HORSE project</h2>
    <h4>04/2019 - 07/2019</h4>
    <div class="list">
      <p>
        This project is an EU funded initiative that aims to innovate the working methods in small
        Smart factories and Industry. This was done by providing an interface to the Camunda
        business process model. However, this interface was only accessible from large central
        screens, which hindered the mobility of the factory workers.
      </p>
      <p>
        In my role as Application Developer, I was responsible for designing and implementing
        the front-end (Kotlin) for a smartwatch application for the already existing Horse project.
        I also implemented some of the communication between the application and the back-end
        (Java) server. When I created a new endpoint, I used TDD and first wrote unit tests before
        writing implementation code.
      </p>
      <p>
        Result: A well-functioning application that fully ran on a (budget) smartwatch (Wear OS).
        All the functionalities of the existing web interface were ported over to the smartwatch
        application.<br />
        <v-dialog content-class="yt-popup" v-model="popup" width="500">
          <template v-slot:activator="{ on }">
            <a v-on="on">Watch demo<v-icon small>{{ mdiYoutube }}</v-icon></a>
          </template>
          <iframe
            src="https://www.youtube-nocookie.com/embed/VKddUjEp3kk?controls=1&rel=0&autoplay=1&mute=1"
            height="500" allow="autoplay" frameborder="0" allowfullscreen />
        </v-dialog>
      </p>
    </div>

  </div>
</template>

<script>
  import { mdiYoutube } from "@mdi/js";
  export default {
    data: () => ({
      mdiYoutube,
      popup: false
    })
  }
</script>

<style scoped>    
.v-icon {
        display: inline-block;
        margin-left: 4px;
        margin-bottom: 1px;
      }
</style>

<style lang="scss">
  .v-dialog.yt-popup {
    height: 500px;
  }
</style>
