<template>
  <v-row class="mx-auto text-center">
    <v-col v-for="[value, offset, end, title, link] of stats" :key="title" cols="12" sm="4">
      <component :is="link.includes('://') ? 'a' : 'router-link'" :to="link" :href="link">
        <div class="display-3 font-weight-black mb-4">
          {{ !isNaN(offset) ? calculateDuration(value, offset, end) : value }}
        </div>
        <div class="title font-weight-regular text-uppercase">{{ title }}</div>
      </component>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    data: () => ({
      stats: [
        ["2016-09-05", 1.5, "2024-06-27", "Higher Education", "theory"],
        ["2020-03-15", 1.5,, "Work Experience", "practice"],
        ["iO digital", , , "Current employer", "https://www.iodigital.com/en/about/campuses/campus-Eindhoven"],
      ],
    }),
    methods: {
      calculateDuration(start, offset, end) {
        let duration = Math.floor(((end != null ? Date.parse(end) : Date.now()) - Date.parse(start)) / 31556952000 - offset);
        return `${duration}+ yr${duration > 1 ? "s" : ""}.`;
      },
    },
    beforeRouteLeave(_, __, next) {
      localStorage.setItem("dismissTooltip", true);
      next();
    },
  };
</script>
