<template>
  <v-spacer>
    <v-window v-model="current" class="scroll-box">
      <v-window-item v-for="(slide, i) in content" :key="i">
        <component :is="slide" />
      </v-window-item>
    </v-window>

    <v-btn text to="/" class="back">
      <v-icon small left>{{ mdiArrowLeft }}</v-icon>
    </v-btn>
    <v-item-group v-model="current" mandatory>
      <div :class="[$vuetify.breakpoint.mobile ? 'text-right' : 'text-center']">
        <v-btn x-small text @click="current--" :disabled="isFirst">
          <v-icon>{{ mdiChevronLeft }}</v-icon>
        </v-btn>
        <v-item v-for="n in content.length" :key="`btn-${n}`" v-slot="{ active, toggle }">
          <v-btn :input-value="active" icon @click="toggle">
            <v-icon>{{ mdiRecord }}</v-icon>
          </v-btn>
        </v-item>
        <v-btn x-small text @click="current++" :disabled="isLast">
          <v-icon>{{ mdiChevronRight }}</v-icon>
        </v-btn>
      </div>
    </v-item-group>
  </v-spacer>
</template>

<script>
  import { mdiRecord, mdiChevronLeft, mdiChevronRight, mdiArrowLeft } from "@mdi/js";

  export default {
    props: ["content", "i"],
    data: () => ({
      mdiRecord, mdiChevronLeft, mdiChevronRight, mdiArrowLeft,
      current: 0,
    }),
    computed: {
      isFirst: (vm) => vm.current === 0,
      isLast: (vm) => vm.current === vm.content.length - 1,
    },
    methods: {
      handleKey({ key }) {
        if (key === "ArrowRight" && !this.isLast) this.current++;
        else if (key === "ArrowLeft" && !this.isFirst) this.current--;
        else if (key === "Escape") this.$router.push("/")
      },
    },
    watch: {
      current(val) {
        if (!isNaN(val)) history.replaceState({}, "", `/${this.$route.path.split("/")[1]}/` + val);
      },
    },
    mounted() {
      this.current = this.i < 0 ? this.content.length + +this.i : +this.i;
      document.addEventListener("keyup", this.handleKey);
    },
    destroyed() {
      document.removeEventListener("keyup", this.handleKey);
    },
  };
</script>

<style lang="scss" scoped>
  @import 'vuetify/src/styles/styles.sass';

  .scroll-box {
    overflow: scroll;
    overscroll-behavior-x: contain;
    mask-image: linear-gradient(transparent, black 5%, black 95%, transparent);
    height: 92%;
    padding-top: 1em;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &::v-deep {
      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }

      h2 {
        opacity: 0.8;
        display: inline;
      }

      h4 {
        font-size: 1.3rem;
        opacity: 0.4;

        @media #{map-get($display-breakpoints, 'sm-and-up')} {
          float: right;
        }
      }

      .list {
        margin: 1em 0;

        @media #{map-get($display-breakpoints, 'sm-and-down')} {
          text-align: justify;
        }

        >ul {
          margin-bottom: 16px;
        }
      }
    }
  }

  .spacer {
    margin: auto;
    max-width: 765px;
    height: 100%;
  }

  .v-btn.v-size--x-small {
    min-width: 0;
    padding: 0;
    border-radius: 42%;
  }

  .text-right {
    margin-right: 1em;
  }

  .back {
    position: absolute;
    z-index: 10;

    &::after {
      content: "Overview";
    }
  }
</style>
