<template>
  <v-app>
    <v-main>
      <hero-image />
      <parallax-image />
      <about-me />
    </v-main>
  </v-app>
</template>

<script>
  import HeroImage from "@/views/HeroImage";
  import ParallaxImage from "@/views/ParallaxImage";
  import AboutMe from "@/views/AboutMe";

  export default {
    components: { HeroImage, ParallaxImage, AboutMe },
  };
</script>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
